header{
    text-align: center;
    font-family: "comic sans ms";
    color:#28a29c;
    font-size: 20px;
    padding: 2px;
    opacity: 95%;
    
}
body{
    background-color:beige;
}

h6{
    text-align: center;
    font-family: "comic sans ms";
}
